<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0
        ">
      </head>
    <body>
        <header>
                <h1>GooglyBooglyz Secret Santa 2024</h1>
        </header>
        <div class = "img-wrap">
            <img src="img\christmaslights.gif", alt="lights", class = "lights">
        </div>

        <div class = "main-content">
            <button class = "present-button" onclick="presentButton()">
                <img src="img\present.png" alt="jared" class = "present">
            </button>
            <label for="pwd">
                <b>Enter Your Password and Click on the Present!</b>
            </label>
            <input type="password" placeholder="Enter Password" name="pwd" required>
            <div class = 'popup'>
                <span class="popuptext" id="recieverpop"></span>
            </div>
        </div>

    <script>
        async function presentButton(){
            const pwd = document.getElementsByName('pwd')[0].value;

            present_response = await fetch(`/gift_check?password=${pwd}`)
            present_response = await present_response.json();

            const presentImg = document.querySelector(".present");

            if (present_response === false) {
                falsepopUp();
            }
            else {
                popUp(present_response);
                presentImg.src = "img/present2.png";
            }
        }
        async function popUp(name){
            const popup = document.getElementById("recieverpop");
            popup.textContent = `Your person is ${name}`;
            popup.classList.add("show");
        }
        async function falsepopUp(name){
            const popup = document.getElementById("recieverpop");
            popup.textContent = `Incorrect Password`;
            popup.classList.add("show");
        }
    </script>
    </body>
</html>
